.button{
    height: 40%;
    width: 20%;

    display: flex;
    
    align-items: center;
    justify-content: center;

    border: 1px solid white;
}

.race-start-button{
    height: 100%;
    width: 100%;
    border-radius: 8px;

    background-color: red;
    color: white;
}

.race-stop-button {
    height: 100%;
    width: 100%;
    border-radius: 8px;

}