.race-pannel-row {
    height: 100%;

    display: flex;
    flex-direction: column;

    background: #111827;
    border: 1px solid #374151;
    border-radius: 6px;

    align-items: center;

    color: white;
    overflow-y: auto;
}

.race-rap-pannel {
    width: 90%;
    height: 40px;
    flex-shrink: 0;
    color: white;
}