# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
venv/
.env

# =========================
# React / Vite
# =========================
Frontend/node_modules/
Frontend/dist/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db