html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    background: #070b12;
}

#root{
    display: flex;

    justify-content: center;
    align-items: center;
}

.dashboard-page{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    width: 90vw;
    height: 90vh;
}


.race-start-dashboard-header{
    flex: 1;

    display: flex;

    justify-content: center;
    align-items: center;

    width: 80%;

}

.dashboard-header{
    flex: 1;
    display: none;
    width: 80%;


}

.race-reset-dashboard-header{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.dashboard-page-pannel{
    flex : 9;

    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin-top : 16px;
}

.dashboard-page-top{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    flex: 1;

    width: 80%;

}

.powerstatus-panel{
    flex: 2;

    height: 100%;

}

.speedstatus-battery-pannel{
    flex : 1;

    height: 100%;

    display: flex;
    flex-direction: column;

}

.speedstatus-pannel{
    flex : 2;
}

.battery-pannel{
    flex : 1;
}

.dashboard-page-bottom{
    flex: 1;

    display: flex;
    flex-direction: row;

    width: 80%;
}

.yawrate-rollrate-pannel{
    flex : 2;

    display: flex;
    flex-direction: column;

}

.yawrate-pannel{
    flex : 2;
}

.rollrate-pannel{
    flex : 1;
}

.carstatus-pannel {
    flex: 1;

}

.dashboard-page-footer{
    flex: 2;
    width: 80%;

    display: flex;
    flex-direction: row;

    align-items: center;


}
