html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #070b12;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-page {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    align-items: center;
}

.dashboard-header{
    height: 7%;
    width: 100%;
}

/* 헤더 공간은 항상 유지 */
.race-start-button-header,
.race-stop-button-header,
.race-reset-button-header {

    width: 80%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 기본 상태에서는 공간만 유지하고 내용만 숨김 */
.race-start-button-header {
    visibility: hidden;
}

/* 시작/리셋 상태에서는 표시 */
.race-stop-button-header,
.race-reset-button-header {
    visibility: visible;
}

.dashboard-page-pannel {
    flex: 8;

    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 16px;

    min-height: 0;
}

.dashboard-page-top {
    flex: 2;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 80%;

    margin-bottom: 8px;

    min-height: 0;
}

.powerstatus-panel {
    flex: 1;
    height: 100%;
}

.gpsmap-pannel {
    flex: 1;
    height: 100%;

    border: 1px solid white;
}

.speedstatus-battery-pannel {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;

    border: 1px solid white;
}

.speedstatus-pannel {
    flex: 2;
    min-height: 0;
}

.battery-pannel {
    flex: 1;
    min-height: 0;
}

.dashboard-page-bottom {
    flex: 1;

    display: flex;
    flex-direction: row;

    width: 80%;

    min-height: 0;
}

.yawrate-rollrate-pannel {
    flex: 2;

    display: flex;
    flex-direction: column;

    min-height: 0;
}

.yawrate-pannel {
    flex: 2;
    min-height: 0;
}

.rollrate-pannel {
    flex: 1;
    min-height: 0;
}

.rpmstatus-pannel {
    flex: 1;

    height: 100%;

    margin-right: 16px;
}

.carstatus-pannel {
    flex: 1;
}

.dashboard-page-footer {
    flex: 1;

    width: 80%;

    display: flex;
    flex-direction: row;

    align-items: center;
}