.speed-panel {
    width: 100%;
    height: 90%;
    background: #070b12;

    border-radius: 8px;
    position: relative;
    color: hsl(220, 13%, 91%);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    margin : 16px 16px 2px;
}

.speed-value {
    position: absolute;
    top: 10%;
    font-size: 20px;
    color: #f9fafb;

    width: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    gap: 4px;

}

.speed-value-data{
    font-size: 30px;
}

.speed-gauge {
    position: relative;
    width: 300px;
    height: 150px;
    margin-top: 35px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    overflow: hidden;



}

.gauge-arc {
    width: 290px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #374151;
    border-bottom-color: transparent;
    border-left-color: #2563eb;
    border-right-color: #ef4444;
}

.speed-needle {
    position: absolute;
    width: 4px;
    height: 92px;
    background: #f9fafb;
    bottom: 0;
    left: 50%;
    transform-origin: bottom center;
    border-radius: 999px;
}

.needle-center {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid #f9fafb;
    border-radius: 50%;
    bottom: -12px;
    left: calc(50% - 12px);
    background: #070b12;
}

.speed-label {
    position: absolute;
    font-size: 15px;

    color: #e5e7eb;
}

.speed-label.left {
    left: 5%;
    bottom: 0;
}

.speed-label.top {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.speed-label.right {
    right: 5%;
    bottom: 0;
}