:root {
    --blue: #3b82f6;
    --red: #ef4444;
    --green: #22c55e;
}

.power-status-pannels {
    display: flex;
    flex-direction: column;

    justify-content: center;

    width: 100%;
    height: 100%;
}

.power-status-pannels-header {
    flex: 1;

    display: flex;
    justify-content: flex-start;
}

.power-status-pannels-body {
    flex: 9;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 0;
}

.power-status-panel {
    background: #070b12;
    color: #e5e7eb;

    flex: 1;

    width: 100%;
    min-height: 0;
}

.power-metric-row {
    display: flex;

    width: 100%;
    height: 100%;

    min-width: 0;
    min-height: 0;
}

.power-metric-text {
    flex: 1;

    min-width: 0;
    min-height: 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.minlinechart-row {
    flex: 3;

    min-width: 0;
    min-height: 0;

    height: 100%;
}

.metric-label {
    font-size: 12px;
    color: #9ca3af;
    margin-bottom: 6px;
}

.metric-label.blue,
.metric-main-value.blue {
    color: var(--blue);
}

.metric-label.red,
.metric-main-value.red {
    color: var(--red);
}

.metric-label.green,
.metric-main-value.green {
    color: var(--green);
}

.metric-main-value {
    font-size: 40px;
    font-weight: 700;
}

.metric-main-value span {
    font-size: 25px;
    margin-left: 4px;
}

