.tchart-wrapper{
    width: 95%;
    height: 100%;

    display: flex;
    align-items: center;
}

.tmini-line-chart {
    background: #020617;
    border: 1px solid #1f2937;
    border-radius: 6px;

    width: 100%;
    height: 80%;

    min-width: 0px;
    min-height: 0px;

    display: block;
}