.yawrate-pannel-row{
    display: flex;
    flex-direction: row;

    background: #070b12;

    flex-direction: row;
    align-items: center;

    height: 100%;

    border: 1px solid white;
    
}

.yawrate-pannel-chart{
    flex : 3;

    height : 100%
}


.yawrate-pannel-text {
    display :flex;
    flex :1;
    flex-direction: column;
    
    margin-top : 8px;

}

.YawRATE{
    font-size: 12px;
    font-weight: 700;
    color: #ef4444;
    letter-spacing: 1px;
    flex: 1;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.DesiredYawRATE {
    font-size: 12px;
    font-weight: 700;
    color: #3b82f6;
    letter-spacing: 1px;
    flex: 1;
    margin-top: 8px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}

.YawRATE-value{
    font-size : 40px;
    font-weight: 700;
}

.DesiredYawRATE-value{
    font-size : 40px;
    font-weight: 700;
}

